body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 60%;
  height: 62.5vh !important;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(7, 46, 107, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(7, 46, 107, 0.6);
}

.card {
  position: relative; /* Make the card relative for the pseudo-element */
  width: 200px;
  height: 280px;
  background-color: #fff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Pseudo-element for the gradient border */
.card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 15px; /* Slightly more to cover the card's rounded corners */
  background: linear-gradient(45deg, #ff6ec4, #7873f5); /* Gradient border */
  z-index: -1; /* Behind the card */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Card active state */
.card.active::before {
  opacity: 1;
}

.card.active {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background-color: #f0f0f5;
}

img {
  width: 165px;
  height: 165px;
  border-radius: 15%;
  margin: 10px 0px;
}

.funcName {
  margin: 10px 0;
  background: linear-gradient(120deg, rgba(0, 3, 8, 0.2), rgba(1, 29, 73, 0.4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease; /* Smooth transition for color change */
  font-size: 20px;
}
h2 {
  font-size: 20px;
}
.about {
  color: white !important;
}

/* Change h2 color to white when the card is active */
.card.active h2 {
  color: white; /* Change text color to white */
  -webkit-background-clip: none; /* Remove background clip for gradient */
  -webkit-text-fill-color: white; /* Ensure text is white */
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.social-icons a {
  color: #cdcdcd;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Change social icons color to white when the card is active */
.card.active .social-icons a {
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.social-icons a:hover {
  color: #666; /* Change hover color to a darker gray */
  transform: scale(1.2);
}

.info-box {
  width: 320px;
  height: 400px;
  padding: 20px;
  background-color: #2d2d2d;
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(-50px) scale(0.8);
  transition: opacity 0.5s ease, transform 0.6s ease, box-shadow 0.4s ease;
  position: absolute;
}

.info-box_2 {
  width: 320px;
  height: 400px;
  padding: 20px;
  background-color: #2d2d2d;
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(-50px) scale(0.8);
  transition: opacity 0.5s ease, transform 0.6s ease, box-shadow 0.4s ease;
  position: absolute;
  z-index: 9999;
}

.dnone {
  display: none !important;
}

.info-box.active {
  opacity: 1;
  transform: translateX(0) scale(1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.info-box_2.active {
  opacity: 1;
  transform: translateX(0) scale(1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

h3 {
  margin: 10px 0;
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.pills {
  display: flex;
  flex-wrap: wrap; /* Allows pills to wrap if there's not enough space */
  gap: 10px; /* Space between pills */
  margin-top: 15px; /* Space above pills */
}

.pill {
  background-color: #4a4a4a; /* Charcoal-like background */
  color: white; /* Text color */
  padding: 8px 12px; /* Padding around the text */
  border-radius: 20px; /* Rounded corners */
  font-size: 14px; /* Font size */
  transition: background-color 0.3s ease; /* Smooth background transition */
  cursor: default; /* Indicates these are not clickable */
}

.pill:hover {
  background-color: #6c757d; /* Darker gray on hover */
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}



/* CADASTRAR */

.container-cad {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  left: 20%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.play-btn {
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#bcd1f2, #8aabe0);
  cursor: pointer;
  outline: none;
}

.play-btn::before {
  content: "";
  position: absolute;
  width: 93%;
  height: 93%;
  background-color: #bcd1f2;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.play-btn:checked {
  animation: borderAnimate 700ms ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes borderAnimate {
  0% {
    transform: rotate(0);
    background: conic-gradient(#bcd1f2, transparent 20%);
  }

  80% {
    background: conic-gradient(#bcd1f2, transparent 90%);
  }

  100% {
    transform: rotate(360deg);
    background: conic-gradient(#bcd1f2, #8aabe0);
  }
}

.play-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 65%;
  background-color: #bcd1f2; /* Cor de fundo */
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-icon::before,
.play-icon::after {
  content: '';
  position: absolute;
  background-color: white; /* Cor da linha */
  width: 40px;
  height: 7px; /* Espessura da linha */
  transition: all 200ms ease;
}

.play-icon::before {
  transform: rotate(0deg); /* Linha horizontal */
}

.play-icon::after {
  transform: rotate(90deg); /* Linha vertical */
}
.play-btn:checked + .play-icon {
  clip-path: polygon(0 100%, 0% 100%, 100% 100%);
}

.pause-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 55%;
  top: 95%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.pause-icon::before,
.pause-icon::after {
  content: '';
  position: absolute;
  background-color: white; /* Cor das linhas */
  width: 30px;
  height: 4px; /* Espessura das linhas */
  transition: all 200ms ease;
}

.pause-icon::before {
  transform: rotate(45deg);
  width: 0%;
}

.pause-icon::after {
  transform: rotate(-45deg);
  width: 0%;
}

.play-btn:checked ~ .pause-icon::before {
  animation: reveal 300ms ease-in-out 350ms 1;
  animation-fill-mode: forwards;
}

.play-btn:checked ~ .pause-icon::after {
  animation: reveal 300ms ease-in-out 600ms 1;
  animation-fill-mode: forwards;
}

@keyframes reveal {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}